---
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
import { getResumeData } from "../lib/graphql";
import type { Resume } from "../types/directus";

const resume: Resume | null = await getResumeData();
---

<Layout
  title={`${resume?.name} | ${resume?.title}`}
  description={resume?.summary}
>
  <Header name={resume?.name} />
  <main class="space-y-16 sm:space-y-32 py-14 sm:py-28">
    <Hero resume={resume} />
    <Experience workExperience={resume?.work_experience} />
    <Projects projects={resume?.projects} />
    <Skills skills={resume?.skills} />
    <Education
      education={resume?.education}
      awards={resume?.awards}
      certificates={resume?.certificates}
    />
    <Contact links={resume?.links} />
  </main>
  <Footer />
</Layout>
